{% extends 'base.html' %} 

{% block content %}
    <h2>Postuler pour l'offre : "{{ offer.titre }}"</h2>
    <p>Chez : <strong>{{ offer.company.nom_entreprise }}</strong></p>
    
    <hr>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            Votre CV enregistré sur votre profil sera automatiquement utilisé.
            Vous pouvez joindre une lettre de motivation spécifique ci-dessous (facultatif) :
        </p>
        {{ form.as_p }} 

        <button type="submit" class="btn btn-success">Confirmer ma Candidature</button>
    </form>

    <p class="mt-3">
        <a href="{% url 'offers:offer_detail' offer.pk %}">Retour à l'offre</a>
    </p>

{% endblock content %}